.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

.album ul li {
    color: #fff;

}

.blackLetter{
    color: black;
  
 
}


.blackLetterS{
    color: black;
    font-size: smaller;
}

hr.blackLine { height: 1px;
    border: 0;
    border-top: 1px solid black;}


a{
    text-decoration: none;
}


